<div class="modal-header">
    <h3 class="modal-title">Edit Rx #{{ orderResponse.rx_number }}</h3>
    <h4><b>{{ orderResponse.patient.name }}</b></h4>
</div>
<div class="modal-body">
    <div>
        <label>Drug: </label>
        <input type="text" ng-model="orderResponse.drug" typeahead-on-select="drugId($item)" typeahead="drug.name_and_strength for drug in drugs | filter:$viewValue">
    </div>
    <div>
        <label>Prescriber: </label>
        <input type="text" ng-model="orderResponse.prescriber" typeahead-on-select="prescriberId($item)" typeahead="prescriber.name for prescriber in prescriberNames | filter:$viewValue">
    </div>
    <div>
        <label>Directions: </label>
        <textarea class="input-box" cols="30" rows="10" ng-model="editedOrder.directions"></textarea>
    </div>
    <div>
        <label>Dispense Qty: </label>
        <input type="number" value="{{ editedOrder.dispense_qty }}" ng-model="editedOrder.dispense_qty">
    </div>
    <div>
        <label>Total Qty: </label>
        <input type="number" value="{{ editedOrder.total_qty }}" ng-model="editedOrder.total_qty">
    </div>
    <div>
        <label>Days Supply: </label>
        <input type="number" value="{{ editedOrder.day_supply }}" ng-model="editedOrder.day_supply">
    </div>
    <div>
        <label>Refills: </label>
        <input type="number" value="{{ editedOrder.refills }}" ng-model="editedOrder.refills">
    </div>
</div>
<div class="modal-footer">
    <div class="button-div">
        <button class="add-continue" ng-click="ok(editedOrder)">Submit Changes</button>
        <button class="cancel-button" ng-click="cancel()">Cancel</button>
    </div>
</div>