<div class="order-container">
    <div class="order-content">
        <div>
            <span class="rx-number-label"><b><u>Rx Number</u>:</b> #{{ order.rx_number }}</span>
            <div class="order-info">
                <b><u>Typed At</u>:</b> {{ order.typed_at | date: 'short' }}<br />
                <b><u>Typed By</u>:</b> {{ order.typed_by }}
            </div>
        </div>

        <div class="patient-label">
            <b><u>PATIENT</u>:</b> {{ order.patient.name }}
        </div>

        <div>&nbsp</div>

        <div class="order-specifics">
            <b><u>DRUG</u>:</b> {{ order.drug.name_and_strength }}<br />
            <b><u>NDC</u>:</b> {{ order.drug.ndc }}<br />
            <b><u>DISPENSE QTY</u>:</b> {{ order.dispense_qty }}
        </div>
        <button ng-click="editOrder()" class="edit-button">Edit Rx</button>

        <div ng-show="showSnapCap" class="snapcap-alert">
            PLEASE USE SNAP CAPS!
        </div>

        <div class="patient-notes-all">
            <div class="patient-notes">
                <b><u>Patient Notes</u>:</b>
            </div>
                <textarea type="text" class="notes-box" cols="30" rows="10" ng-model="order.patient_notes"></textarea>
        </div>

        <!--Type NDC used to fill here to check if same as order-->
        <div class="verify-content">
            <div ng-show="verifyField">
                <input type="text" ng-model="typedNdc" placeholder="Type whole NDC.." class="ndc-input">
                <button type="submit" ng-click="verify(typedNdc)">Verify</button>
            </div>
            <!--Once NDC has been typed and verify is clicked the following will execute-->
            <!--If typed correctly green "verified!" will pop up-->
            <div ng-show="verifiedTrue">
                <div class="verified">
                    <div class="verified-label">Verified!</div>
                    <div ng-show="viewInitials">
                        <!--You will then be asked to type your initials-->
                        <div>
                            <input type="text" ng-model="order.filled_by" placeholder="Type your Initials..">
                            <button ng-click="initialed(order.filled_by)">Initial</button>
                        </div>
                        <!--Initials must be longer than one character, if not warning will pop up-->
                    </div>
                    <div ng-show="initialWarning" class="initial-warning">Must type at least 2 characters!</div>
                </div>
                <!--Once initials are entered, button will pop up to send to final verification queue-->
                <a href="#/fillqueue">
                    <button ng-show="initialsTyped" ng-click="updateOrder(order)">Send to Final Verification</button>
                </a>
            </div>

            <!--If NDC is typed incorrectly then a "incorrect NDC!" will pop up in red, cannot continue until correct-->
            <div class="incorrect" ng-show="verifiedFalse">
                Incorrect NDC!
            </div>
        </div>
    </div>
</div>