<div class="queue-list">
    <div class="queue-title">
        <img src="../styles/queue.png" height="80%">
    </div>
    <div>
        <div class="column-queue">Rx Number:</div>
        <div class="column-queue">Patient:</div>
        <div class="column-queue">Due At:</div>
    </div>
    <div ng-repeat="order in orderList | orderBy: 'due'">
        <a href="#/fillqueue/view/{{ order._id }}">
            <div class="column-queue">{{ order.rx_number }}</div>
            <div class="column-queue">{{ order.patient.name }}</div>
            <div class="column-queue due-warning">{{ order.due | date: 'short' }}</div>
        </a>
    </div>
    <a href="#/landing">
        <button class="back-button">Back To Home</button>
    </a>
</div>
<div class="queue-view">
    <div class="page-title-div">
        <img src="../styles/fill-order.png" class="page-title">
    </div>
    <ui-view></ui-view>
</div>