
<a href="#/landing"><button class="back-button">Back To Home</button></a>

<div>
    <b>PATIENT: </b>{{ order.patient.name }}
</div>

<div>&nbsp</div>

<div>
    <b>DRUG: </b>{{ order.drug.name_and_strength }}<br />
    <b>NDC: </b>{{ order.drug.ndc }}
</div>

<div>
    <b>DISPENSE QTY: </b>{{ order.dispense_qty }}
</div>

<div>&nbsp</div>

<div ng-show="showSnapCap" class="alert-color">
    <h3><b>PLEASE USE SNAP CAPS!</b></h3>
</div>

<div>&nbsp</div>

<div>
    <b>Patient Notes:<br /></b>
    <textarea type="text" class="input-box" cols="30" rows="10"></textarea>
</div>

<div>&nbsp</div>
<!--Type NDC used to fill here to check if same as order-->
<div ng-show="verifyField">
    <input type="text" ng-model="typedNdc" placeholder="Type whole NDC..">
    <button type="submit" ng-click="verify(typedNdc)">Verify</button>
</div>
<!--Once NDC has been typed and verify is clicked the following will execute-->
<!--If typed correctly green "verified!" will pop up-->
<div ng-show="verifiedTrue">
    <div class="verified">Verified!</div>
    <div ng-show="viewInitials">
        <!--You will then be asked to type your initials-->
        <input type="text" ng-model="order.filled_by" placeholder="Type your Initials..">
        <button ng-click="initialed(order.filled_by)">Initial</button>
        <!--Initials must be longer than one character, if not warning will pop up-->
        <span ng-show="initialWarning" class="initial-warning" >Must type at least 2 characters!</span>
    </div>
    <!--Once initials are entered, button will pop up to send to final verification queue-->
    <button ng-show="initialsTyped" ng-click="updateOrder(order)">Send to Final Verification</button>
</div>
<!--If NDC is typed incorrectly then a "incorrect NDC!" will pop up in red, cannot continue until correct-->
<div class="incorrect" ng-show="verifiedFalse">
    Incorrect NDC!
</div>

<div>&nbsp</div>