<!--Title-->
<div>
    <div class="main-title">
        <img class="trex" src="../styles/newTrex.png">
        <!--New Order Box-->
        <div class="options-container">
            <div class="hvr-box-shadow-outset hvr-wobble-vertical pills">
                <a href="?#/neworder">
                    <div class="pill-shadow"><img class="new-and-fill hvr-wobble-vertical img-responsive" src="../styles/NewOrder.png"></div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
            <!--Fill Queue Box-->
            <div class="hvr-box-shadow-outset hvr-wobble-vertical pills">
                <a href="#/fillqueue">
                    <div class="pill-shadow"><img class="new-and-fill hvr-wobble-vertical img-responsive" src="../styles/FillQueue.png"></div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
            <!--Final Verification Box-->
            <div class="hvr-box-shadow-outset hvr-wobble-vertical pills">
                <a href="#/finalverification">
                    <div class="pill-shadow"><img class="final hvr-wobble-vertical img-responsive" src="../styles/FinalVerify.png"></div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
        </div>
    </div>
</div>