<!--Title-->
<div>
    <div class="main-title">
        <h1>Chido Rx</h1>
        <!--New Order Box-->
        <div class="options-container">
            <div class="hvr-box-shadow-outset pills">
                <a href="?#/neworder">
                    <div class="pill-shadow">New Order</div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
            <!--Fill Queue Box-->
            <div class="hvr-box-shadow-outset pills">
                <a href="#/fillqueue">
                    <div class="pill-shadow">Fill Queue</div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
            <!--Final Verification Box-->
            <div class="hvr-box-shadow-outset pills">
                <a href="#/finalverification">
                    <div class="pill-shadow">Final Verification</div>
                    <div class="left-half-pill"></div>
                    <div class="right-half-pill"></div>
                </a>
            </div>
        </div>
    </div>
</div>