
<form action="" class="container-fluid">
   <div>
       Patient Name:
        <input type="text" placeholder="Last, First" ng-model="order.patient" typeahead="patient.name for patient in names | filter:$viewValue">
        &nbsp <button ng-click="openNewPatient()">+</button><br />
    </div>
    <div class>
        Prescriber:
        <input type="text" placeholder="Last, First" ng-model="order.prescriber">
        &nbsp <button ng-click="openNewPrescriber()">+</button><br />
   </div>

   Date Written: <input type="text" ng-model="order.date_written"><br />

   Drug: <input type="text" placeholder="Type drug name.." ng-model="order.drug"><br />

   Directions: <textarea class="direction-input" cols="30" rows="6" ng-model="order.directions"></textarea><br />

   Dispense Qty: <input type="number" placeholder="0" ng-model="order.dispense_qty"><br />

   Total Qty: <input type="number" placeholder="0" ng-model="order.total_qty"><br />

   Refills: <input type="number" placeholder="0" ng-model="order.refills"><br />

   Day Supply: <input type="number" placeholder="0" ng-model="order.day_supply"><br />
   <div>
       <a href="#/fillqueue">
           <button ng-click="addNewOrder(order)">Add Drug<br />&<br />Continue to Next Step</button>
       </a>
       <a href="">
           <button ng-click="addNewOrder(order)">Add Drug<br />&<br />Type Another Drug</button>
       </a>
       <a href="#/landing">
           <button>&nbsp<br />Cancel<br />&nbsp</button>
       </a>
   </div>
   {{ alert.message }}
</form>