
<form action="" class="container-fluid">
   <div>
       Patient Name:
        <input type="text" placeholder="Last, First" ng-model="patient" typeahead-on-select="patientId($item)" typeahead="patient.name for patient in patientNames | filter:$viewValue">
        &nbsp <button ng-click="openNewPatient()">+</button><br />
    </div>
    <div class>
        Prescriber:
        <input type="text" placeholder="Last, First" ng-model="prescriber" typeahead-on-select="prescriberId($item)" typeahead="prescriber.name for prescriber in prescriberNames | filter:$viewValue">
        &nbsp <button ng-click="openNewPrescriber()">+</button><br />
   </div>
   <div>
       Drug: <input type="text" placeholder="Type drug name.." ng-model="drug" typeahead-on-select="drugId($item)" typeahead="drug.name_and_strength for drug in drugs | filter:$viewValue">
       &nbsp <button ng-click="openNewDrug()">+</button><br />
   </div>

   Date Written: <input type="date" ng-model="order.date_written"><br />

   Directions: <textarea class="direction-input" cols="30" rows="6" ng-model="order.directions"></textarea><br />

   Dispense Qty: <input type="number" placeholder="0" ng-model="order.dispense_qty"><br />

   Total Qty: <input type="number" placeholder="0" ng-model="order.total_qty"><br />

   Refills: <input type="number" placeholder="0" ng-model="order.refills"><br />

   Day Supply: <input type="number" placeholder="0" ng-model="order.day_supply"><br />

   <div>&nbsp</div>

   Due on/at: <input type="datetime-local" ng-model="order.due"><br />

   Typed By: <input type="text" placeholder="Type your initials.." ng-model="order.typed_by"><br />

   </div>&nbsp</div>

    <div>
        <a href="#/fillqueue"><button ng-click="addNewOrder(order)">Add Order<br />&<br />Continue to Next Step</button></a>

        <button ng-click="addNewOrder(order); orderAddedAlert()">Add Order<br />&<br />Type Another Order</button>

        <a href="#/landing">
            <button>&nbsp<br />Cancel<br />&nbsp</button>
        </a>
    </div>
</form>