<div class="modal-header">
    <h3 class="modal-title">Add New Patient</h3>
</div>
<div class="modal-body">
    <form action="">
        <div>
            Patient Name: <input type="text" placeholder="Last, First" ng-model="patient.name">
            Date of Birth: <input type="text" ng-model="patient.date_of_birth">
        </div>
        <div>
            Address: <input type="text" placeholder="Street Address" ng-model="patient.address.street">
            City: <input type="text" placeholder="City" ng-model="patient.address.city">
            State:
            <select ng-model="patient.address.state">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            Zip: <input type="number" placeholder="12345" ng-model="patient.address.zip">
        </div>
        <div>
            Phone: <input type="text" placeholder="(555)555-5555" ng-model="patient.phone">
        </div>
        <div>
            Social Security: <input type="number" placeholder="123-45-6789" ng-model="patient.social_security">
        </div>
        <div>&nbsp</div>
        <div>
            Insurance Info:
            <div>
                Plan Name: <input type="text" ng-model="patient.insurance.plan_name">
                Plan Phone: <input type="text" placeholder="1-(800)-555-5555" ng-model="patient.insurance.plan_phone">
            </div>
            <div>
                Member Id: <input type="text" ng-model="patient.insurance.member_id">
                Relationship to Cardholder:
                <select ng-model="patient.insurance.relationship">
                    <option value="Self">Self</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Child">Child</option>
                </select>
            </div>
            <div>
                Group: <input type="text" ng-model="patient.insurance.group">
                BIN#: <input type="number" ng-model="patient.insurance.bin">
                PCN: <input type="text" ng-model="patient.insurance.pcn">
            </div>
        </div>
        <div>&nbsp</div>
        <div>
            Drug Allergies: <input type="text" ng-model="patient.drug_allergies">
        </div>
            <!--<div>{{ loop and display all allergies saved }}</div>-->
        <div>
            Snap Caps?
            <form action="" ng-model="patient.snap_cap">
                <input type="radio" name="snapcap" value="yes" ng-model="patient.snap_cap">Yes
                <input type="radio" name="snapcap" value="no" ng-model="patient.snap_cap">No
            </form>
        </div>
        <div>
            Notes: <input type="text" class="input-box" ng-model="patient.notes">
        </div>
        <div>
            Patient Alerts: <input type="text" class="input-box" ng-model="patient.patient_warnings">
        </div>


    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(); addNewPatient(patient)">Add Patient</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>