body {
    background-color: #e5e5e5;
    color: black;
}
label {
    display: inline-block;
    float: left;
    clear: both;
    width: 35%;
    text-align: right;
    padding: 10px;
    font-size: 18px;
    color: black;
}

input, textarea, select {
    outline-width: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 2% 0px 3% 0px;
    width: 50%;
    float: left;
}

button {
    border-radius: 10px;
    background-color: rgba(3, 234, 0, 0.8);
    color: black;
    float: none;
    border: none;
    box-shadow: 2px 5px 5px;
    outline-width: 0;
    margin: 2% 1% 2.5% 1%;
    padding: 5px;
}
button:hover {
    background-color: rgba(23, 126, 137, 1);
}
::placeholder {
   color: rgba(0, 0, 0, 0.9);
}

/*///////////////////////*/
/*Landing Template Style*/
/*/////////////////////*/
.page-border {
    position: absolute;
    width: 96%;
    height: 96%;
    margin: 1% 2% 1% 2%;
    border: 5px solid black;
}

/*Main Title*/
.main-title {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 150px;
    color: black;
    font-size: 100px;
}
.trex {
    position: relative;
    width: 40%;
    left: 2%;

}
/*Options container*/
.options-container {
    position: relative;
    bottom: -33%;
    width: 100%;
    height: 100%;
}
/*Landing options*/
.pills {
    text-align: center;
    width: 20%;
    height: 75%;
    margin-left: 4%;
    float: left;
    border-radius: 100px;
    font-size: 35px;
    color: black;
    background-color:rgba(0,0,0,0);
}

.left-half-pill {
    background-color: rgba(3, 234, 0, 1);
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 100px 0 0 100px;
}

.right-half-pill {
background-color: rgba(23, 126, 137, 1);
    width: 50%;
    height: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
    float: left;
    border-radius: 0 100px 100px 0;
}

.new-and-fill {
    position: relative;
    height: 94%;
    width: 100%;
    padding: 5% 20% 5% 20%;
}

.final {
    position: relative;
    height: 96%;
    width: 100%;
    padding: 2.5% 20% 2.5% 20%;
}

.pill-shadow {
    position: absolute;
    color: black;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    border-radius: 100px;
}
/*///////////////////////////////*/
/*Patient Profile Template Style*/
/*/////////////////////////////*/
.patient-search {
    position: relative;
    width: 100%;
    height: 13%;
    padding-right: 5%;
}
.search-label {
    margin-top: 1.5%;
}
.search-input {
    width: 33%;
}
.patient-search-view {
    border-top: 2px solid black;
    position: relative;
    width: 100%;
    height: 87%;
    top: 13%;
    clear: both;
    font-size: 16px;
}
.patient-results-border {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1% 0 1% 10%;
    padding: 3%;
    border-radius: 30px;
    width: 80%;
    height: 90%;
}
.patient-name-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: -1% 0 2% 0;
}
.patient-results-view {
    background-color: rgba(242, 242, 242, 0.4);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 10px;
    border: 1px solid black;
    padding: 2%;
}
.patient-insurance {
    border-top: 2px solid black;
    margin-top: 1.5%;
    padding-top: 1.5%;
}
.patient-order-history {
    border-top: 2px solid black;
    margin-top: 1.5%;
    padding-top: 1.5%;
}
.order-history-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 1%;
    font-weight: bold;
}
.order-history-content {
    border: 1px solid black;
    background-color: rgba(242, 242, 242, 0.4);
    box-shadow: inset 0 0 15px;
    padding: 2%;
    margin-bottom: 1%;
}
.rx-number {
    border: 1px solid black;
    padding: 0.5%;
}
.done {
    color: green;
    font-weight: bold;
}
.in-process {
    color: red;
    font-weight: bold;
}
.search-back-button {
    margin-top: -2%;
    margin-left: 10%;
    clear: both;
}

/*/////////////////////////*/
/*New Order Template Style*/
/*///////////////////////*/
.border-neworder {
    border: 2px solid black;
    border-radius: 30px;
    padding: 4% 15% 2% 0%;
    margin: 1% -9% 3% 2%;
    background-color: rgba(242, 242, 242, 0.4);
    box-shadow: 0 0 10px;
}
.form-contain {
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 50px 0px 10px 7.5%;
    margin: 17px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.6);
}

.content-div {
    position: relative;
    left: -14%;
}

.button-div {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0% 0% 3% 8%;
}

.add-continue {
    width: 200px;
}

.add-another {
    width: 200px;
}

.cancel-button {
    width: 75px;
}
/*//////////////////////////*/
/*//Modal Template Style///*/
/*////////////////////////*/

.modal-header {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-body, .modal-footer {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding-right: 13%;
}

.modal-footer {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.modal-backdrop {
    background-color: white;
    border-radius: 30px;
    opacity: 0.8 !important;
}

.modal-content {
    border-radius: 30px;
}

#radio-btn-label {
    float: none;
    clear: both;
    width: 42px;
}
#radio-btn {
    float: none;
    width: 30px;
}
#radio-div {
    float: left;
}
.modal-style {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.order-added {
    border: none;
    background-color: green;
    width: 100%;
}


/*//////////////////////////////////*/
/*Final & Fill Queue Template Style*/
/*////////////////////////////////*/


/*//////Fixed Queue list on Left//////*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.queue-list {
    position: absolute;
    width: 35%;
    height: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.queue-title {
    height: 7%;
    text-align: center;
}

.column-queue {
    float: left;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 14px;
}
.rx-number-column {
    width: 25%;
    padding-left: 2%;
}
.patient-column {
    width: 50%;
}
.due-at-column {
    width: 25%;
}
.due-warning {
    color: #b20000;
}
/*^^^^^^^^^^^^^^^^^^^*/


/*//////Order Container Style//////*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.page-title-div {
    width: 100%;
    text-align: center;
    margin-left: 15%;
}
.page-title {
    text-align: center;
}
.order-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    margin: 0 0 2% 23.5%;
    padding: 4%;
    width: 85%;
    font-size: 18px;
}
.order-content {
    border: 2px solid black;
    border-radius: 30px;
    padding: 3%;
    background-color: rgba(242, 242, 242, 0.4);
    box-shadow: 0 0 10px;
}
.order-specifics-view {
    width: 65%;
    height: 100%;
    position: absolute;
    left: 25%;
}
/*^^^^^^^^^^^^^^^^^^^*/

/*//////Order Specifics Style//////*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*DIV-1*/
.rx-number-label {
    position: relative;
    width: 40%;
    float: left;
    /*border: 1px dashed red;*/
    font-size: 18px;
}
.who-did-what-label {
    position: relative;
    float: left;
    /*border: 1px dashed red;*/
    box-shadow: 0 0 5px;
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
    padding: 1%;
}
.patient-label {
    position: relative;
    top: -35px;
    /*border: 1px dashed red;*/
    clear: both;
    width: 40%;
    font-size: 20px;
}

/*DIV-2*/
.drug-label {
    position: relative;
    float: left;
    /*border: 1px dashed red;*/
    font-size: 22px;
}
.ndc-label {
    position: relative;
    float: left;
    margin-left: 5%;
    /*border: 1px dashed red;*/
    font-size: 22px;
}
.edit-button {
    margin-top: 0;
    margin-left: 3%;
}

/*DIV-3*/
.dispense-qty-label {
    /*border: 1px dashed red;*/
    position: relative;
    float: left;
    width: 18%;
    margin-right: 5%;
}
.snapcap-alert {
    position: relative;
    float: left;
    color: black;
    background-color: #f28b0b;
    width: 33%;
    margin-right: 44%;
    text-align: center;
    border-radius: 10px;
    padding: 6px;
    font-weight: bold;
    font-size: 19px;
}
.invisible-div {
    clear: both;
}

/*DIV-4*/
.patient-notes-label {
    /*border: 1px dashed red;*/
    width: 50%;
}
.notes-area-label {
    /*border: 1px dashed red;*/
    position: relative;
    width: 50%;
    float: left;
}
.notes-textarea {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 150px;
}

/*DIV-5*/
.verified {
    color: black;
    background-color: green;
    width: 100%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 0 30px;
    margin-top: 1%;
}
.verified-label {
    text-align: center;
    font-size: 40px;
    width: 100%;
}
.incorrect {
    color: black;
    font-size: 80px;
    background-color: red;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    clear: both;
    box-shadow: 0 0 30px;
    margin-top: 5%;
}
.initial-warning {
    color: red;
    text-align: left;
    clear: both;
}
/*^^^^^^^^^^^^^^^^^^^*/


/*//////Final Verification Style Specifics//////*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*In DIV-3*/
.directions-label {
    position: relative;
    /*border: 1px dashed red;*/
    clear: both;
    float: left;
    width: 50%;
    margin-top: 3%;
}
.patient-notes-label-final {
    clear: both;
    float: left;
    margin-top: 2%;
    /*border: 1px dashed red;*/
    width: 50%;
}
.drug-image-div {
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e5e5e5;
    font-weight: bold;
    padding: 1%;
    width: 33%;
    margin: -5.8% 10% 0 7%;
    float: left;
}
.drug-image {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.notes-display {
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
}
.drug-allergies-label {
    position: relative;
    /*border: 1px dashed red;*/
    clear: both;
    float: left;
    margin-top: 2%;
}
.ndc-input {
    width: 500px;
}

