body {
    background-color: rgba(139, 133, 136, 0.8);
    color: black;
    font-weight: bold;
}

label {
    display: inline-block;
    float: left;
    clear: both;
    width: 35%;
    text-align: right;
    padding: 10px;
    font-size: 18px;
    color: black;
}

input, textarea, select {
    outline-width: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 2% 0px 3% 0px;
    width: 50%;
    float: left;
}

button {
    border-radius: 10px;
    background-color: rgba(3, 234, 0, 0.8);
    color: black;
    float: none;
    border: none;
    box-shadow: 2px 5px 5px;
    outline-width: 0;
    margin: 2% 1% 2.5% 1%;
    padding: 5px;
}
button:hover {
    background-color: rgba(23, 126, 137, 1);
}
::placeholder {
   color: rgba(0, 0, 0, 0.8);
}

/*///////////////////////*/
/*Landing Template Style*/
/*/////////////////////*/

/*Main Title*/
.main-title {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 150px;
    color: black;
    font-size: 100px;
}
.trex {
    position: relative;
    width: 40%;
    left: 2%;

}
/*Options container*/
.options-container {
    position: relative;
    bottom: -50%;
    width: 100%;
    height: 100%;
}
/*Landing options*/
.pills {
    text-align: center;
    width: 26%;
    height: 85%;
    margin-left: 5.5%;
    float: left;
    border-radius: 100px;
    font-size: 35px;
    color: black;
    background-color:rgba(0,0,0,0);
}

.left-half-pill {
    background-color: rgba(3, 234, 0, 1);
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 100px 0 0 100px;
}

.right-half-pill {
background-color: rgba(23, 126, 137, 1);
    width: 50%;
    height: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
    float: left;
    border-radius: 0 100px 100px 0;
}

.new-and-fill {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5% 20% 5% 20%;
}

.final {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2.5% 20% 2.5% 20%;
}

.pill-shadow {
    position: absolute;
    color: black;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    border-radius: 100px;
}


/*/////////////////////////*/
/*New Order Template Style*/
/*///////////////////////*/

.form-contain {
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 50px 0px 10px 7.5%;
    margin: 17px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
}

.content-div {
    position: relative;
    left: -14%;
}

.button-div {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0% 0% 3% 8%;
}

.add-continue {
    width: 200px;
}

.add-another {
    width: 200px;
}

.cancel-button {
    width: 75px;
}
/*//////////////////////////*/
/*//Modal Template Style///*/
/*////////////////////////*/

.modal-header {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-body, .modal-footer {
    border: none;
    background-color: rgba(0, 0, 0, 0.75);
    padding-right: 13%;
}

.modal-footer {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.modal-backdrop {
    background-color: white;
    border-radius: 30px;
}

.modal-content {
    border-radius: 30px;
}

#radio-btn-label {
    float: none;
    clear: both;
    width: 42px;
}
#radio-btn {
    float: none;
    width: 30px;
}
#radio-div {
    float: left;
}


/*//////////////////////////*/
/*Fill Queue Template Style*/
/*////////////////////////*/

/*Fixed Queue list*/
.queue-list {
    border: 1px dashed red;
    position: absolute;
    width: 25%;
    height: 100%;
}
    .queue-title {
        border: 1px dashed green;
        height: 7%;
        text-align: center;
    }
.due-warning {
    color: #b20000;
}

/*View area div*/
.queue-view {
    border: 1px dashed blue;
    width: 75%;
    height: 100%;
    position: absolute;
    left: 25%;
}
/*Back Button in view area*/
.back-button {
    float: right;
}

/*Info box on order*/
.order-info {
    border: 1px solid black;
    width: 19%;
}

.alert-color {
    color: black;
    background-color: #f28b0b;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.verified {
    color: black;
    background-color: green;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.incorrect {
    color: black;
    background-color: red;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.initial-warning {
    color: red;
}
