html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*///////////////////////*/
/*Landing Template Style*/
/*/////////////////////*/

/*Main Title*/
.main-title {
    position: absolute;
    width: 80%;
    left: 10%;
    border: 1px dashed red;
    text-align: center;
}
/*New Order*/
.new-order-box {
    position: absolute;
    top: 20%;
    width: 30%;
    left: 2.5%;
    height: 25%;
    border: 1px dashed blue;
    text-align: center;
}

    .phone-hardcopy {
        position: relative;
        left: 10%;
        top: 50%;
        border: 1px dashed orangered;
        width: 80%;

    }

/*Fill Queue*/
.fill-queue-box {
    position: absolute;
    top: 20%;
    width: 30%;
    height: 25%;
    left: 35%;
    border: 1px dashed green;
    text-align: center;
}

/*Final Verification*/
.final-verify-box {
    position: absolute;
    top: 20%;
    width: 30%;
    height: 25%;
    left: 67.5%;
    border: 1px dashed black;
    text-align: center;
}

/*/////////////////////////*/
/*New Order Template Style*/
/*///////////////////////*/

form {
    vertical-align: top;
}

.input-box {
    width: 300px;
    height:150px;
    vertical-align: top;
}
/*Modal Order Added*/
.modal-style {
    /*background-color: #198C19;*/
    text-align: center;
    color: #000c00;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*//////////////////////////*/
/*Fill Queue Template Style*/
/*////////////////////////*/

/*Fixed Queue list*/
.queue-list {
    border: 1px dashed red;
    position: absolute;
    width: 20%;
    height: 100%;
}
    .queue-title {
        border: 1px dashed green;
        height: 7%;
        text-align: center;
    }

/*View area div*/
.queue-view {
    border: 1px dashed blue;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 20%;
}
/*Back Button in view area*/
.back-button {
    float: right;
}

.alert-color {
    color: black;
    background-color: #f28b0b;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.verified {
    color: black;
    background-color: green;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.incorrect {
    color: black;
    background-color: red;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.initial-warning {
    color: red;
}
